.gridAnswer{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1,1fr);
  width: 100vw;
  height: 20vh;
  background-color: #858694;
  color: #fff;
}
.gridButton{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px;
  border-radius: 30px;
  width: 100vw;
  height: 80vh;
  font-size: 2em;
  

  /* grid-auto-rows: minmax(50px, auto); */
}
.font{
  font-size: 2em;
  border: solid #858694 1px;
  background-color: #e0e0e0;
  
}
.columnOne {
  grid-column: 1 / 2;
}
.columnTwo {
  grid-column: 2 / 3;
}
.columnThree {
  grid-column: 3 / 4;
}
.columnFour {
  grid-column: 4 / -1;
  background-color: #f5923e;
}

.rowOne{
  grid-row: 1;
  
}

.rowTwo{
  grid-row: 2;
}

.rowThree{
  grid-row: 3;
}

.rowFour{
  grid-row: 4;
}

.rowFive{
  grid-row: 5;
}
button {
  transition-duration: 0.4s;
}
button:hover{
  background-color: #000;
  color: #fff;
}
